<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="/node_modules/vue/dist/vue.global.js"></script>
        <link rel="stylesheet" href="index.css"/>
        <title>my vue 3 project</title>
    </head>
    <body>
        <div class="container lesson1">     
            <p>Lesson 1</p>       
            <div id="app">        
                <input type="text" v-model="greeting" />
                
                <p>
                    {{ greeting }} ({{ greeting.length }})
                </p>
            </div>
        </div>

        <div class="container lesson2">
            <p>lesson 2</p>
            <div id="appLesson2">
                <!-- v-on:click has a shorthand of @click -->
                <button :class="active ? 'text-red' : 'text-blue'" @click="toggle">click me</button>
            </div>
        </div>

        <div class="container lesson3">
            <p>lesson 3</p>
            <div id="appLesson3">
                <section v-show="inProgressAssignments.length">
                    <h2>Assignments</h2>
                    <ul>
                        <li 
                            v-for="assignment in inProgressAssignments"
                            :key="assignment.id"
                        >
                            <label>
                                {{ assignment.name }}

                                <input type="checkbox" v-model="assignment.complete"/>
                            </label>
                        </li>                     
                    </ul>
                    <!--
                    <pre>
                        {{ assignments }}
                    </pre>
                    -->                    
                </section>

                <section v-show="completedAssignments.length">
                    <h2>Assignments completion status</h2>
                    <ul>
                        <!-- the letter a represents an element or an item -->
                        <li 
                            v-for="assignment in assignments.filter(a => a.complete)" 
                            :key="assignment.id"
                        >
                            <label>
                                {{ assignment.name }}

                                <input type="checkbox" v-model="assignment.complete"/>
                            </label>
                        </li>                     
                    </ul>
                    <!--
                    <pre>
                        {{ assignments }}
                    </pre>
                    -->                    
                </section>
            </div>            
        </div>
    
        <script>
            //lesson1
            Vue.createApp ({
                data() {
                    return {
                        greeting: "hello world"
                    };
                },

                mounted() {
                    setTimeout(() => {
                        // alert("done loaded");
                        this.greeting = "changed";
                    }, 1000);
                }
            }).mount("#app");            
        </script>

        <script>
            //lesson 2
            Vue.createApp({
                data() {
                    return {
                        active: false
                    };
                },

                methods: {
                    toggle() {
                        this.active = ! this.active;
                    }
                }
            }).mount("#appLesson2");
        </script>

        <script>
            //lesson 3
            let app = {
                data() {
                    return {
                        assignments: [
                            { name: 'task1', complete: false, id: 1},
                            { name: 'task2', complete: false, id: 2},
                            { name: 'task3', complete: false, id: 3},
                        ]
                    }
                },

                computed: {
                    inProgressAssignments() {
                        return this.assignments.filter(assignment => ! assignment.complete);
                    },

                    completedAssignments() {
                        return this.assignments.filter(assignment => assignment.complete);
                    }
                }
            };
            Vue.createApp(app).mount("#appLesson3")
        </script>

    </body>
</html>